
@media screen and (min-width: 600px) and (max-width: 1140px) {
    .MediaContainer {
        margin-top: 9rem;
    }
}

@media screen and (min-width: 1141px) and (max-width: 1185px) {
    .MediaContainer {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 2000px) {
    .MediaContainer {
        border: "100px solid red"
    }
}